@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
$primary: #0d6efd;
$stars: #F2DD1F;
$shallow_green : #6ACC9A;
$deep_green : #0FA958;
$glass_green : #B8E9D3;
$pink_red : rgb(255, 71, 71);


#check {
    color: aquamarine;
}

#error-box {
    color: rgb(235, 94, 94);
}

.hide {
    display: none;
    pointer-events: none;
}

.disabled {
    cursor: not-allowed;
}

.stars {
    i {
        color: $stars;
    }
}

.error-box {
    display: flex;
    flex-direction: column;

    p {
        color: red;
    }
}

#popup_box {
    z-index: 99999;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 200px;
    right: 0px;

    .popup_message_box {
        position: relative;
        height: 5ex;
        background-color: rgb(141, 195, 242);
        margin-top: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 2px solid rgb(122, 186, 26);

        //centering
        .bi-x-lg,
        p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .bi-x-lg {
            display: inline-block;
            font-size: 1rem;
            color: rgb(227, 52, 52);
            margin-left: 5px;
        }

        .bi-x-lg:hover {
            cursor: pointer;
        }

        p {
            display: inline-block;
            color: rgb(101, 101, 101);
            font-size: 1rem;
            margin-left: 30px;
        }
    }
}

.video-box {
    padding: 0px !important;
    border: 2px solid $primary;
    border-bottom: none;
}

.preview_box {
    position: absolute;
    width: 80vw;
    height: 80vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reply-review-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: yellowgreen;
    padding: 10px;
    width: 60vw;
}

.create-course {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.one-click-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.progress_box {
    justify-content: center;
    position: relative;
    height: 8vh;

    .progress {
        margin-top: 5px;
    }

    button {
        margin-top: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.tutorial-videos {
    // overflow: hidden;
    .tutorial-card {
        border-bottom: 2px solid white;
        margin-bottom: 2px;
        background-color: darkgray;
    }

    .watch-tutorial {
        cursor: pointer;
    }
}

#remove-catagory-box {
    width: 80%;
    overflow: scroll;
    min-height: 40vh;
    max-height: 60vh;
}

#add-catagory-box {
    width: 80%;
    min-height: 40vh;
    max-height: 60vh;
    overflow: scroll;
}

.catagory-item-box {
    border-bottom: 2px solid gray;
    margin-bottom: 2px;
    display: flex;

    p {
        color: darkgray;
        flex-shrink: 40%;
        flex-basis: 70%;
        flex-grow: 80;
    }

    button {
        flex-grow: 25%;
        flex-shrink: 15%;
        flex-basis: 20%;
    }
}

.content-box {
    background-color: rgb(181, 181, 181);

    img {
        max-width: 80%;
        min-width: 50%;
    }
}

.deep-green-btn {
    background-color: $deep_green;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 0.8em;
    color: white;
}
.yes-no-confirm {
    p {
        color: $deep_green;
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        button {
            display: inline-block;
            min-width: 5em;
            padding: 0.2em;
            font-size: 0.9em;
            color: white;
            border: none;
            border-radius: 5px;
        }
    
        .yes {
            background-color: $shallow_green;
        }
        .no {
            background-color: rgb(221, 65, 65);
        }
    }
}

//upload prgoress bar

.upload-control {
    display: none;
    flex-direction: column;
    gap: 5px;
    .progress {  
        width: 100%;
        height: 2em;
        border: 2px solid $shallow_green;
        position: relative;
        // padding: 5px;
        background-color: $glass_green;
        .progress-bar {
            height: 100%;
            background-color: $deep_green;
        }
        .progress-value {
            position: absolute;
            left: 50%;
            color: rgb(53, 73, 53);
            transform: translateX(-50%);
        }
    }    
    .controls {
        display: flex;
        margin: auto;
        gap: 5px;
        button {
            letter-spacing: 2px;
            color: white;
            border: 0px;
            border-radius: 5px;
            font-size: 0.8em;
            padding: 0.5em;
            text-align: center;

        }
        .cancel-upload {
            background-color: $pink_red;
        }
        .resume-upload {
            display: none;
            background-color: $deep_green;
        }
        .pause-upload {
            background-color: gray;
        }
    }
}


//laravel bootstrap default link coloring and positioning

.links-wrapper {
    display: flex;
    margin-top: 2rem;

    nav {
        margin: auto;

        ul {

            .page-item {
                .page-link {
                    background-color: $glass_green;
                    color: $deep_green;
                    outline: none;
                    text-decoration: none;
                    border: 1px solid gray;
                }
            }

            .disabled {
                .page-link {
                    color: gray;
                }
            }

            .active>.page-link {
                border: 1px solid $deep_green;
                outline: none;
                // background: $shallow_green;
            }
        }
    }
}


//rating style
.rate {
    overflow: hidden;
    display: inline;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;

    // max-width: ;
    span {
        display: inline-block;
    }

    .rate-overlay {
        display: inline-block;
        position: relative;
        background: no-repeat top left url('assets/transparent_stars.png');
        background-size: 6em 1em;
        width: 6em;
        height: 1em;
        margin: auto;

        .rate-image {
            background: no-repeat top left url('assets/colored_stars.png');
            background-size: 6em 1em;
            height: 100%;
            position: absolute;
            top: 0%;
            left: 0%;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

//heade style for mobile
.header {
    width: 100%;
    display: block;
    position: fixed;
    z-index: 10;

    nav {
        display: flex;

        .link {
            display: block;
            color: $shallow_green;
            text-decoration: none;
            margin: 10px;
            font-size: 15px;
        }

        .home {
            display: block;
        }

        .sidebar-opn-icn {
            display: block;
            color: $deep_green;
            margin: 0px 0px 0px auto;
            font-size: 25px;
        }
    }

    .sidebar-show {
        display: flex;
    }

    .sidebar-hidden {
        display: none;
    }

    .sidebar {
        overflow-y: auto;
        pointer-events: all;
        flex-wrap: wrap;
        justify-content: center;
        width: clamp(200px, 100vw, 300px);
        padding: 15px;
        position: fixed;
        right: 0px;
        top: 0px;
        height: 100%;
        background-color: rgb(68, 68, 68);

        .sidebar-cls-icn {
            margin-right: auto;
            color: $deep_green;
            font-size: 20px;
            max-height: 20px;
        }

        .profile {
            position: relative;
            max-height: 40px;
            justify-content: end;

            .profile-icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $glass_green;
                text-align: center;
                font-size: 1.5rem;
                cursor: pointer;
            }

            .profile-links {
                display: none;
            }
        }

        .authenticate {
            display: flex;

            .login,
            .register {
                display: block;
                color: $deep_green;
                text-decoration: none;
                background: $shallow_green;
                padding-top: 0.2em;
                width: 4em;
                height: 2em;
                text-align: center;
                border: 1px solid $glass_green;
            }
        }

        .search {
            order: 1;
            position: relative;
            margin-top: 10px;
            z-index: 20;

            input {
                background: url('./assets/search_background.png');
                background-repeat: no-repeat;
                background-size: 250px;
                min-width: 250px;
                min-height: 30px;
                padding-left: 15px;
                padding-right: 40px;
                border: none;
                outline: none;
            }

            button {
                background: url('./assets/search_icon.png');
                background-repeat: no-repeat;
                background-size: 30px, 30px;
                border: none;
                min-width: 30px;
                min-height: 30px;
                position: absolute;
                right: 10px;
            }

            position: relative;

            .suggestion-box {
                position: absolute;
                width: 100%;
                background-color: $glass_green;
                border-radius: 10px;
                margin: 10px 0px;
                max-height: 200px;
                overflow-y: auto;
                overflow-x: hidden;
                border-bottom: 2px solid black;
                z-index: 4555;

                a {
                    display: block;
                    text-decoration: none;
                    color: $deep_green;
                    cursor: pointer;
                    text-align: left;
                    margin: 0px;
                    padding: 0px 7px;
                    border-bottom: 2px solid white;
                }
            }

            z-index: 2;
        }

        .filter {
            order: 2;
            position: relative;
            margin-top: 10px;

            .filters {
                background-color: $glass_green;
                border-radius: 10px;
                display: flex;
                padding: 10px;
                padding-left: 10px;
                min-width: 250px;
                right: 100%;

                .catagories {
                    background-color: $shallow_green;
                    min-width: 100%;
                    min-height: 2em;
                    border: none;
                    color: $deep_green;
                    font-size: 1.1rem;
                    padding: 5px;
                }

                //dual slider range
                .price-range {
                    color: $deep_green;
                    margin: 10px 0px;

                    .multi-range {
                        display: inline-block;
                        position: relative;
                        height: 20px;
                        min-width: 80%;
                        max-width: 100%;


                        input[type=range] {
                            //slider style
                            appearance: none;
                            box-sizing: border-box;
                            background: linear-gradient(#6ACC9A, #6ACC9A) no-repeat center;
                            background-size: 100% 5px;
                            border: 0;
                            width: 100%;
                            margin: 0;
                            overflow: hidden;
                            outline: none;
                            padding: 0 2px;
                            pointer-events: none;
                            position: absolute;

                            &:active,
                            &:focus {
                                outline: none;
                            }

                            //slider thumb styles
                            &::-webkit-slider-thumb {
                                height: 20px;
                                width: 20px;
                                border-radius: 20px;
                                background-color: #0FA958;
                                position: relative;
                                margin: 5px 0;
                                /* Add some margin to ensure box shadow is shown */
                                cursor: pointer;
                                appearance: none;
                                pointer-events: all;
                                box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);

                            }

                            &:nth-child(2) {
                                background: none;
                            }
                        }
                    }
                }

                .price-input {
                    width: 100%;

                    label {
                        font-size: 14px;
                        color: $deep_green;
                    }

                    input {
                        background-color: $shallow_green;
                        border: none;
                        color: white;
                        font-size: 14px;
                        outline: none;
                        width: 5rem;
                    }
                }

                .review {
                    p {
                        margin-bottom: 0px;
                        margin-top: 10px;
                        color: $deep_green;
                    }

                    .review-stars {
                        cursor: pointer;
                        color: $stars;
                        font-size: 1.5rem;
                        padding-left: 10px;
                    }

                    .selected {
                        border: 2px solid $deep_green;
                        border-radius: 5px;
                    }
                }

                .submit-filter {
                    margin: 10px 0px;
                    background-color: $shallow_green;
                    border: none;
                    border-radius: 2px;
                    color: $deep_green;
                    width: 100%;
                    height: 2rem;
                    font-size: 1.2em;
                }
            }

            .filter-button {
                display: none;
                background: url('./assets/filter_icon.png') no-repeat right top/ 25px 25px;
                border: none;
                min-width: 25px;
                min-height: 25px;
            }

            .close-filter {
                display: none;
                background: url('./assets/close_filter_icon.png') no-repeat right top/25px 25px;
            }
        }
    }

    .sidebar-opn-icn {
        display: block;
    }
}

//headeer spacing so the content always sty down header
.header-spacing {
    height: clamp(25px, 10vw, 100px)
}

//header styling for desktop
@media screen and (min-width: 768px) {

    .header {
        display: flex;
        background-color: rgb(112, 112, 112);
        width: 100%;
        height: 80px;
        z-index: 20;

        nav {
            display: flex;

            .link {
                display: block;
                align-self: center;
                cursor: pointer;
                color: $glass_green;
                margin: 0px 10px;
                font-size: 1.8rem;
            }

            .sidebar-opn-icn {
                display: none;
            }
        }

        .sidebar {
            background-color: rgba(0, 0, 0, 0);
            display: flex;
            position: initial;
            height: auto;
            width: auto;
            margin-left: auto;
            min-width: 350px;
            padding: 0px;
            overflow-y: visible;

            .sidebar-cls-icn {
                display: none;
            }

            // for fixing the borken postion of profile and authentiaction links order
            .user-info {
                order: 3;
            }


            .profile {
                position: relative;

                .profile-links {
                    position: absolute;
                    display: none;
                    border-radius: 8px;
                    min-width: 250px;
                    padding: 5px;
                    margin-top: 10px;
                    right: 50%;
                    background-color: $glass_green;

                    a {
                        width: 100%;
                        display: block;
                        color: $glass_green;
                        text-decoration: none;
                        padding-left: 8px;
                        color: $deep_green;
                        border-bottom: white;
                        min-height: 1.2em;
                    }
                }

                .profile-overlay {
                    display: none;
                    background-color: transparent;
                    position: fixed;
                    width: 60px;
                    height: 30px;
                    top: 50px;
                    right: 20px;
                    z-index: 1;

                    &:hover {
                        .profile-links {
                            display: block;
                        }
                    }
                }

                &:hover {
                    .profile-overlay {
                        display: block;
                    }

                    .profile-links {
                        display: block;

                        a {
                            display: block;

                            &:hover {
                                background-color: $shallow_green;
                            }
                        }
                    }
                }
            }

            //login button postion for desktop
            .authenticate {
                margin: auto 10px auto 0px;

                .login,
                .register {
                    margin-top: 0.5em;
                }
            }

            .header-items {
                display: block;
                margin-right: 10px;
                align-self: center;
            }

            .filter {
                order: 1;
                position: relative;
                margin-left: auto;

                //deskto toggle
                .filters-show {
                    display: flex;
                }

                .filters-hidden {
                    display: none;
                }

                .filters {
                    position: absolute;
                    right: 100%;
                }

                .filter-button {
                    display: block;
                    border: none;
                    min-width: 25px;
                    min-height: 25px;
                }

                .close-filter {
                    display: block;
                }

                z-index: 23;
            }

            .search {
                order: 2;
                position: relative;
            }
        }
    }
}


//footer styles
.footer {
    display: flex;
    flex-direction: column;
    background: $glass_green;
    justify-content: space-around;
    min-height: clamp(10px, 20vh, 100px);
    margin-top: auto;

    .links {
        display: flex;
        justify-content: center;
        margin: 0px auto;
        gap: 10px;
        flex-wrap: wrap;
    }

    .links>a {
        display: inline-block;
        color: $deep_green;
        text-decoration: none;
    }

    p {
        color: $shallow_green;
        margin: 0px auto;
    }
}
