$primary: #0d6efd;
$stars: #F2DD1F;
$shallow_green : #6ACC9A;
$deep_green : #0FA958;
$glass_green : #B8E9D3;
$text_red_gray : rgb(53, 43, 43);
$pink_red : rgb(255, 71, 71);

.login-form,
.register-form,
.forgot-pass-form,
.password-reset-form {
    display: flex;
    flex-direction: column;
    background-color: $glass_green;
    margin: 2em auto 2em auto;
    width: clamp(15em, 90%, 25em);
    padding: 1.5em;

    label {
        color: $deep_green;
        margin-top: 1em;
    }

    input {
        background-color: $shallow_green;
        border: none;
        color: $text_red_gray;
        outline: none;
        height: 2.5em;
        padding: 10px;
        outline: 1px solid $deep_green;
    }

    a {
        text-decoration: none;
        color: $deep_green;
        margin-left: auto;

        &:hover {
            text-decoration: underline;
        }
    }

    input[type="submit"] {
        width: clamp(3em, 40%, 10em);
        margin: 0.8em auto 0px auto;
        background-color: $shallow_green;
        border: none;
        border-radius: 5px;
        padding: 0px;
        color: $text_red_gray;
    }
}

//overriding the label styling for gender filedset to fix the allignment and adding some more styles
.register-form {
    select {
        margin-top: 1em;
        color: $text_red_gray;
        border: none;
        outline: 1px solid $deep_green;
        background-color: $shallow_green;
        option {
            &:default {
                display: none;
            }
            &:hover {
                background-color: $deep_green;
            }
        }
    }
}

.forgot-password {
    display: flex;
    flex-direction: column;
    color: $deep_green;
    h6 {
        color: $deep_green;
        margin: auto;
    }
    form {
        margin-top: 1em;
    }
}

.demo-credentials {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: $shallow_green;
    padding: 1em;
    border-radius: 5px;
    // align-items: center;
    color: white;
    p {
        background-color: $deep_green;
        border-radius: 5px;
        padding: 0.5em;
    }
    h6 {
        color: rgb(51, 51, 51);
        align-self: center;
    }
}
