$primary: #0d6efd;
$stars: #F2DD1F;
$shallow_green : #6ACC9A;
$deep_green : #0FA958;
$glass_green : #B8E9D3;
$text_red_gray : rgb(53, 43, 43);
$pink_red : rgb(255, 71, 71);

//course index page styles

//index courses wrapper
.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

//course card
.course-card {
    margin: 0.5rem 0.5rem auto 0.5rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: $glass_green;
    padding: 10px;
    max-width: 90vw;
    font-size: 12px;

    .title {
        color: $shallow_green;
    }

    .thumbnail {
        width: 100%;
        overflow: hidden;
        display: flex;
        margin: auto;
        img {
            margin: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }

    // .details  
    .details {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        color: $deep_green;

        >* {
            display: inline-block;
        }
    }
}

@media screen and (min-width: 700px) {

    //course card responsive sizing
    .course-card {
        max-width: 45%;
    }
}

//course show page styles

.course-introduction {
    display: flex;
    flex-direction: column;
    font-size: 18px;

    .course-details {
        display: flex;
        background-color: $glass_green;
        align-self: center;
        flex-direction: column;
        gap: 0.5em;
        width: 100%;
        padding: 1em;

        h5 {
            font-size: 0.9em;
            color: $deep_green;
        }

        .details {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            font-size: 0.6em;
            color: $deep_green;

            a {
                text-decoration: none;
                color: $deep_green;
            }
        }

        .tools {
            display: flex;
            gap: 1em;
            margin: auto auto 0px auto;
            padding: 0.2em 0.8em 0.2em 0.8em;
            border-radius: 10px;
            background-color: $deep_green;
            color: $glass_green;
            font-size: 1em;

            a {
                text-decoration: none;
                color: $glass_green;
            }

            button {
                background-color: transparent;
                border: none;
            }

            .tool-icon {
                display: block;
                color: black;
                transition: transform 0.2s linear;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .course-purchase {
            a {
                width: 5em;
            }

            display: flex;

            h4 {
                color: $deep_green;
            }
        }
        .forum-link {
            border: none;
            width: 8em;
            background-color: $deep_green;
            margin-left: auto;
            border-radius: 5px;
            a {
                color: $shallow_green;
                text-decoration: none;
            }
        }
    }

    @media screen and (min-width: 700px) {
        flex-direction: row;
        font-size: 22px;

        .course-details {
            min-height: 10em;
            width: 50%;

            // .tools {}
        }

        .thumbnail-video {
            align-self: center;
            max-width: 40%;
        }
    }
}

//course introduction upload 
#introduction-update-form {
    display: flex;

    label {
        margin: auto;
    }
}

//description
.description-box {
    background-color: $glass_green;
    width: clamp(15em, 100vw, 700px);
    margin: 10px auto;
    display: flex;
    flex-direction: column;

    .description {
        margin: auto;
        display: none;
        padding: 1em;
        color: $deep_green;
        font-size: 1.1em;
    }

    button {
        margin: 10px auto;
    }

    :nth-child(3) {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .description {
        width: 90%;
        padding: 3em;
    }
}

//
.tutorial-videos {
    background-color: $glass_green;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .add-tutorial {
        .upload-control {
            width: 100%;
            margin: auto;
        }

        width: clamp(250px, 50%, 600px);
        margin: 2em auto;
        background-color: $shallow_green;
        font-size: 15px;

        input {
            position: absolute;
            display: inline;
            visibility: hidden;
            width: 0.1px;
            height: 0.1px;
        }

        label {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 15px 0px;
            cursor: pointer;
            align-items: center;

            span {
                color: $deep_green;
            }

            i {
                // margin: auto;
                transform: rotate(90deg);
                font-size: 7em;
                color: $deep_green;
            }
        }
    }

    .position-update-note {
        display: inline-block;
        margin: auto;
        font-size: 0.8em;
        color: $deep_green;
    }

    .tutorials {
        width: clamp(200px, 100%, 700px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        margin: auto;

        .tutorial-card {
            display: flex;
            width: clamp(250px, 49%, 300px);
            flex-wrap: wrap;
            flex-direction: column;
            border: 1px solid white;
            background-color: $glass_green;
            cursor: pointer;

            .thumbnail {
                width: 100%;
                height: 10em;
                display: flex;
                background-color: black;
                cursor: pointer;
                background-size: 100% 100%;

                i {
                    margin: auto;
                    color: rgb(153, 153, 153);
                    font-size: 2em;
                }

                &:hover {
                    i {
                        color: white;
                    }
                }
            }

            .details {
                display: block;
                flex: 1;
                padding: 5px;
                font-size: 1em;
                color: $deep_green;

                input[type=text] {
                    display: none;
                    margin: 5px;
                    background-color: $shallow_green;
                    padding-left: 0.5em;
                    color: $deep_green;
                    border: none;
                    outline: none;
                    width: 90%;
                    height: 2em;
                    z-index: 101000;
                }

            }

            .control {
                display: flex;
                min-width: 3em;
                margin: auto;
                font-size: 1.5em;
                justify-content: space-between;

                .tutorial-deleter {
                    color: rgb(220, 111, 111);

                }

                .tutorial-title-editor {
                    color: rgb(181, 181, 34);
                }
            }

            .position {
                display: flex;
                min-width: 3em;
                justify-content: space-between;
                margin: auto;
                font-size: 1.5em;

                i {
                    color: rgb(189, 189, 189);
                    cursor: pointer;

                    &:hover {
                        color: $deep_green;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .tutorial-videos {

        .tutorials {
            width: clamp(250px, 80%, 1000px);
            flex-direction: column;

            .tutorial-card {
                flex-direction: row;
                width: 100%;

                .thumbnail {
                    width: 8em;
                    height: 5em;
                }

                .details {
                    padding: 5px 0px 0px 5px;
                }

                .control {
                    margin: 0px 0px 0px auto;
                    flex-direction: column;

                    i {
                        cursor: pointer;
                    }
                }

                .position {
                    flex-direction: column;
                    margin: 0px;
                }
            }
        }
    }

}

//course review
.reply-create,
.review-create,
.review-edit {
    position: relative;
    margin: 10px;
    max-width: 100%;

    input {
        min-width: 100%;
        background: transparent;
        border: 1px solid $deep_green;
        border-radius: 15px;
        outline: none;
        padding-left: 0.5em;
        padding-right: 2em;
    }

    button {
        position: absolute;
        display: block;
        background-color: transparent;
        background-image: url('assets/send.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 1.2em;
        height: 1em;
        top: 50%;
        transform: translateY(-50%);
        right: 3%;
        border: none;
    }

    .review-cancel {
        position: absolute;
        right: -1.5em;
        top: 50%;
        color: $shallow_green;
        transform: translateY(-50%);

        &:hover {
            color: $deep_green;
        }
    }
}

.review-create-box {
    flex-direction: column;
    gap: 4px;
    margin: 10px;
    max-width: 50%;

    .rating {
        padding: 0px;
        margin: auto auto;
        font-size: 1.2em;
    }

    .review-cancel {
        max-width: 6em;
        margin: auto;
    }
}

.reviews-box {
    display: flex;
    flex-direction: column;
    padding: 10px;

    //overriding the review-createor-box margin so it can stay middle in here
    .review-create-box {
        margin: 0px auto;
    }

    h5 {
        margin: 0px auto;
        color: $deep_green;
    }

    .review,
    .reply {
        display: flex;
        min-height: 200px;
        flex-direction: column;
        border-left: 1px solid gray;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        background-color: $glass_green;

        .review-content {
            display: inline-block;

            .owner-details {
                text-decoration: none;
                display: flex;
                gap: 5px;
                margin: 5px;

                .profile-image,
                .profile-text {
                    display: flex;
                    width: 2em;
                    height: 2em;
                    border-radius: 50%;
                    background-color: $shallow_green;

                    span {
                        margin: auto;
                        color: $deep_green;
                    }
                }

                .owner-name {
                    font-size: 0.8em;
                    margin: auto 0px;
                    color: $deep_green;
                }
            }

            .content {
                color: $deep_green;
                margin: 5px;
            }
        }

        .review-control {
            color: gray;
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            margin: 5px;
        }

        .more-replies {
            cursor: pointer;
            color: $deep_green;
            margin: 10px;

            i {
                display: inline-block;
                transform: rotate(180deg);
            }
        }
    }

    .reply {
        margin-left: 10px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            left: -12px;
            border-top: 1px solid gray;
            width: 12px;
            height: 20px;

        }
    }
}
