$primary: #0d6efd;
$stars: #F2DD1F;
$shallow_green : #6ACC9A;
$deep_green : #0FA958;
$glass_green : #B8E9D3;
$text_red_gray : rgb(53, 43, 43);
$dark_blue: rgb(34, 59, 87);
$pink_red : rgb(255, 71, 71);

.forum {
    .banner {
        width: 100%;
        background-color: $glass_green;
        display: flex;
        img {
            margin: auto;
            max-width: 100%;
            max-height: 20em;
            box-shadow: 0px -5px 15px black;
        }
    }
    .forum-control {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        height: 4em;
        background-color: $deep_green;
        button {
            background-color: $dark_blue;
            color: white;
            border: none;
            border-radius: 5px;
            height: 2em;

            &:hover {
                transform: scale(1.1);
                transition: transform 200ms linear;
            }
        }
    }
    .questions {
        display: flex;
        gap: 1em;
        flex-direction: column;
        margin: 5px;
        .question-card {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0.2em;
            background-color: $deep_green;
            // height: ;
            .status {
                display: flex;
                flex-direction: column;
                padding: 0.2em;
                gap: 1em;
                max-width: 20%;
                color: $glass_green;
                div {
                    display: flex;
                    flex-direction: column;
                    span {
                        margin: auto;
                    }
                }
            }
            .contents {
                padding: 0.2em;
                max-width: 80%;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
            .info {
                padding: 0.2em;
                display: flex;
                flex-wrap: wrap;
                gap: 1em;
                width: 100%;
                color: $glass_green;
                font-size: 0.7em;
                .question-control {
                    margin-left: auto;
                    display: flex;
                    gap: 1em;
                    button {
                        border: none;
                        background-color: $dark_blue;
                        color: white;
                        border-radius: 15px;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}