/*
$primary: #0d6efd;
$stars: #F2DD1F;
$shallow_green : #6ACC9A;
$deep_green : #0FA958;
$glass_green : #B8E9D3;
$shallow_blue : rgb(90, 109, 130);
$dark_blue: rgb(34, 59, 87);
$pink_red : rgb(255, 71, 71);

.user-profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    gap: 2em;
    padding: 1em;
    background-color: $shallow_green;

    .profile-picture-wrapper {
        display: flex;
        max-width: 20em;
        height: 20em;
        border-radius: 100%;
        background-color: gray;
        overflow: hidden;
        cursor: pointer;

        img {
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }

        &:hover {
            box-shadow: 1px 1px 15px rgb(0, 0, 0);

        }
    }

    .details {
        h3 {
            color: $dark_blue;
        }

        p {
            padding: 0px;
            color: $shallow_blue;
        }
    }
}

.controls {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 0.8em;
    padding: 1em;
    background-color: $deep_green;
    box-shadow: 0px 2px 10px black;
    justify-content: center;

    button {
        border: 0px;
        border-radius: 5px;
        background-color: $dark_blue;
        color: white;
        padding: 0.5em;

        &:hover {
            box-shadow: 1px 1px 5px black;
        }
    }
}

.resources {
    margin-bottom: 1em;
    margin-top: 1em;

    .resource-box {
        h5 {
            text-align: center;
        }
    }

    .bought-courses,
    .my-courses {
        display: flex;
        flex-direction: column;

        h5 {
            text-align: center;
        }

        .courses {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        @media screen and (min-width: 600px) {
            .courses {
                flex-direction: row;
                column-gap: 1em;

                .course-card {
                    margin: 0px 0px auto 0px;
                    display: block;
                }
            }
        }
    }

    .hide {
        display: none;
        pointer-events: none;
    }

}

.profile-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .profile-update-form {
        display: flex;
        flex-direction: column;
        width: clamp(100px,  500px, 80%);
        background-color: $shallow_green;
        border: 1px solid $dark_blue;
        box-sizing: border-box;
        padding: 1em;
        gap: 0.5em;
        border: none;
        border-radius: 5px;
        flex-direction: column;
        align-items: center;
        color: $dark_blue;

        input[type=submit] {
            width: 30%;
            color: $dark_blue;
            background-color: $deep_green;
            border: none;
            border-radius: 5px;
            &:hover {
                border: 1px solid $dark_blue;
            }
        }
    }
    #change-name {

        &:hover {
            border: 1px solid $dark_blue;
        }

        input[name=name] {
            color: $dark_blue;
            background-color: $deep_green;
            width: 100%;
            border: none;
            border-radius: 5px;
            &:focus {
                border: 1px solid $dark_blue;
                outline: none;
            }
        }
    }
}*/
