$primary: #0d6efd;
$stars: #F2DD1F;
$shallow_green : #6ACC9A;
$deep_green : #0FA958;
$glass_green : #B8E9D3;
$text_red_gray : rgb(53, 43, 43);
$dark_blue: rgb(34, 59, 87);
$pink_red : rgb(196, 56, 56);
$delete : rgb(196, 56, 56);
$edit : rgb(194, 196, 76);


.question,
.answer {
    display: flex;
    flex-direction: column;
    margin: 0.2em;
    padding: 0.2em;
    // background-color: rgb(196, 196, 196);
    background-color: $dark_blue;

    .details {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        border: 1px solid $deep_green;
        border-radius: 5px;
        color: $deep_green;

        .info {
            display: flex;
            flex-direction: column;

            .title {
                margin-top: 0.2em;
            }

            .additional-info {
                color: $glass_green;
                font-size: 0.9em;
                margin-top: auto;
                margin-bottom: 0.2em;
            }
        }

        .control {
            margin: auto 1% auto auto;
            display: flex;
            gap: 0.2em;

            i {
                cursor: pointer;
                color: $stars;
            }

            button {
                padding: 0px;
                background-color: transparent;
                border: none;
                outline: none;
            }

            .update {
                color: $edit;
            }

            .delete {
                color: $delete
            }
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 1em;

        .vote {
            margin: 0px 1% auto 1%;
            align-items: center;
            text-align: center;

            i {
                font-size: 1.2em;
                cursor: pointer;
                color: $deep_green;
            }

            .votes {
                color: $glass_green;
                text-align: center;
            }
        }

        .content {
            width: 100%;
            margin-left: auto;
            max-height: 90vh;
            overflow-x: auto;
            // background-color: ;
            justify-self: stretch;
            color: $glass_green;

            img {
                max-width: 100%;
                max-height: 1000px;
            }
        }
    }

    .comments-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 1em;

        .comments {
            display: flex;
            flex-direction: column;
        }
        .comment-create-btn {
            width: 10em;
            font-size: 0.8em;
            border: 1px solid $deep_green;
            border-radius: 20px;
            background-color: $dark_blue;
            color: $deep_green;
            margin: auto 0px 1em 40%;
            padding: 0.4em;
            &:hover {
                border: 1px solid white;
                color: white;
            }
        }
    }
    .load-more {
        width: 10em;
        margin: 0.2em 0% 0.2em 40%;
        background-color: $dark_blue;
        border: 1px solid white;
        padding: 0px;
        border-radius: 20px;
        font-size: 0.8em;
    }
}

.answers-wrapper {
    margin-top: 5em;
    padding: 1em;

    #create-answer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $deep_green;
        padding: 0.5em;

        button[type=submit] {
            width: 10em;
            margin: 0.5em auto 0.5em auto;
            border: none;
            border-radius: 5px;
            background-color: $dark_blue;
            color: white;
        }
    }

    .answers-label {
        margin-top: 2em;
    }
}

//answer and quesion edit form
#edit-question, #edit-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
        align-self: flex-start;
    }
    input[name=title] {
        width: 100%;
        margin-bottom: 1em;
    }
    input[type=submit] {
        max-width: 10em;
        border: none;
        border-radius: 5px;
        background-color: $dark_blue;
        color: white;
        margin-top: 1em;
    }
}

//comment card
.comment-card,
.reply-card {
    display: flex;
    flex-direction: column;
    width: 100%;

    >.comment-content  {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 0.3em;

        >.owner-details {
            text-decoration: none;
            display: flex;
            gap: 5px;
            margin: 5px;

            .profile-image,
            .profile-text {
                display: flex;
                width: 1.9em;
                height: 1.9em;
                font-size: 0.8em;
                border-radius: 50%;
                background-color: $shallow_green;
                justify-content: center;
                align-items: center;
            }
        }
        >.content-wrapper {
            margin: auto;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            .references {
                a {
                    text-decoration: none;
                    color: $shallow_green;
                    font-size: 0.8em;
                }
            }
            >.content {
                width: auto;
                color: $deep_green;
                margin: auto 0px auto 0.5em;
                padding: 0px;
                font-size: 0.8em;
            }
        }
        >.hide {
            display: none;
            pointer-events: none;
        }
    }

    .comment-control {
        color: gray;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        margin: 5px;
        font-size: 0.7em;
        button {
            background-color: transparent;
            border: 0px;
            color: gray;
        }
    }

    .more-replies {
        color: $deep_green;
        margin: 10px;
    }
}

//comment form
.comment-edit,
.reply-create,
.comment-form {
    position: relative;
    margin: 10px;
    width: 100%;
    gap: 1%;
    display: flex;
    align-items: center;
    input {
        width: 90%;
        background: transparent;
        border: 1px solid $deep_green;
        border-radius: 15px;
        outline: none;
        padding-left: 0.5em;
        padding-right: 2em;
        color: white;
        &:focus {
            border: 1px solid white;
        }
    }

    .comment-submit {
        position: absolute;
        display: block;
        background-color: transparent;
        background-image: url('assets/send.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 1.2em;
        height: 1em;
        // top: 50%;
        // transform: translateY(-50%);
        right: 12%;
        border: none;
    }

    .comment-form-cancel {
        width: 10%;
        color: $shallow_green;
        &:hover {
            color: $deep_green;
        }
    }
}

.hide {
    display: none;
    pointer-events: none;
}
