.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courses .course-card {
  margin: 0.5rem 0.5rem auto 0.5rem;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: #B8E9D3;
  padding: 10px;
  max-width: 90vw;
  font-size: 12px;
}

.courses .course-card .title {
  color: #6ACC9A;
}

.courses .course-card .thumbnail {
  width: 100%;
  overflow: hidden;
}

.courses .course-card .thumbnail img {
  max-height: 100%;
  max-width: 100%;
}

.courses .course-card .details {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  color: #0FA958;
}

.courses .course-card .details > * {
  display: inline-block;
}

.courses .course-card .details .rate {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.courses .course-card .details .rate span {
  display: inline-block;
}

.courses .course-card .details .rate .rate-overlay {
  display: inline-block;
  position: relative;
  background: no-repeat top left url(/images/transparent_stars.png?c8a15eed1ddc7fa65f4c205555e057ae);
  background-size: 6em 1em;
  width: 6em;
  height: 1em;
  margin: auto;
}

.courses .course-card .details .rate .rate-overlay .rate-image {
  background: no-repeat top left url(/images/colored_stars.png?0022fba86dea5edad61270c12810b281);
  background-size: 6em 1em;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

@media screen and (min-width: 700px) {
  .courses .course-card {
    max-width: 45vw;
  }
}

.links-wrapper {
  display: flex;
  margin-top: 2rem;
}

.links-wrapper nav {
  margin: auto;
}

.links-wrapper nav ul .page-item .page-link {
  background-color: #B8E9D3;
  color: #0FA958;
  outline: none;
  text-decoration: none;
  border: 1px solid gray;
}

.links-wrapper nav ul .disabled .page-link {
  color: gray;
}

.links-wrapper nav ul .active > .page-link {
  border: 1px solid #0FA958;
  outline: none;
}


