.user-profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  gap: 2em;
  padding: 1em;
  background-color: #6ACC9A;
}

.user-profile .profile-picture-wrapper {
  display: flex;
  max-width: 20em;
  height: 20em;
  border-radius: 100%;
  background-color: gray;
  overflow: hidden;
  cursor: pointer;
}

.user-profile .profile-picture-wrapper img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.user-profile .profile-picture-wrapper:hover {
  box-shadow: 1px 1px 15px black;
}

.user-profile .details h3 {
  color: #223b57;
}

.user-profile .details p {
  padding: 0px;
  color: #5a6d82;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 0.8em;
  padding: 1em;
  background-color: #0FA958;
  box-shadow: 0px 2px 10px black;
  justify-content: center;
}

.controls button {
  border: 0px;
  border-radius: 5px;
  background-color: #223b57;
  color: white;
  padding: 0.5em;
}

.controls button:hover {
  box-shadow: 1px 1px 5px black;
}

.resources {
  margin-bottom: 1em;
  margin-top: 1em;
}

.resources .resource-box h5 {
  text-align: center;
}

.resources .bought-courses,
.resources .my-courses {
  display: flex;
  flex-direction: column;
}

.resources .bought-courses h5,
.resources .my-courses h5 {
  text-align: center;
}

.resources .bought-courses .courses,
.resources .my-courses .courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .resources .bought-courses .courses,
  .resources .my-courses .courses {
    flex-direction: row;
    -moz-column-gap: 1em;
         column-gap: 1em;
  }

  .resources .bought-courses .courses .course-card,
  .resources .my-courses .courses .course-card {
    margin: 0px 0px auto 0px;
    display: block;
  }
}

.resources .hide {
  display: none;
  pointer-events: none;
}

.profile-update {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.profile-update .profile-update-form {
  display: flex;
  flex-direction: column;
  width: clamp(100px, 500px, 80%);
  background-color: #6ACC9A;
  border: 1px solid #223b57;
  box-sizing: border-box;
  padding: 1em;
  gap: 0.5em;
  border: none;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  color: #223b57;
}

.profile-update .profile-update-form input[type=submit] {
  width: 30%;
  color: #223b57;
  background-color: #0FA958;
  border: none;
  border-radius: 5px;
}

.profile-update .profile-update-form input[type=submit]:hover {
  border: 1px solid #223b57;
}

.profile-update #change-name:hover {
  border: 1px solid #223b57;
}

.profile-update #change-name input[name=name] {
  color: #223b57;
  background-color: #0FA958;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.profile-update #change-name input[name=name]:focus {
  border: 1px solid #223b57;
  outline: none;
}


